# Mercer LLM API (to fill empty fields)
CORE_API_BASE_URL=https://stg1.mmc-bedford-int-non-prod-ingress.mgti.mmc.com/coreapi/openai/v1/deployments/mmc-tech-gpt-35-turbo-smart-latest/chat/completions
CORE_API_KEY=your-api-key

# Optional: set to 1 to always use LLM for field extraction
# USE_LLM=1
