pandas
motor
langgraph
langchain-core>=1.2.5
urllib3>=2.6.0
annotated-types
anyio
appnope
asttokens
black
cffi
click
colorama
comm
cryptography
debugpy
decorator
exceptiongroup
executing
fastapi
h11
httpx
idna
iniconfig
jedi
jinja2
joblib
jupyter-client
jupyter-core
markupsafe
matplotlib-inline
mypy-extensions
nest-asyncio
okta-jwt-verifier
packaging
parso
pathspec
pexpect
platformdirs
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pydantic
pydantic-core
pydantic-settings
pygments
pymongo
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-dateutil
python-dotenv
pytz
pyzmq
six
sniffio
stack-data
starlette
threadpoolctl
tornado
traitlets
typing-extensions
tzdata
uvicorn
wcwidth
ruff
ddtrace
requests
certifi
sentence-transformers
prometheus_client
tqdm
numpy
python-multipart
rapidfuzz>=3.6.0